html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  /*------------------------------------*\
    #GLOBAL-STYLES
  \*------------------------------------*/
  
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }